.I-about{
	position: relative;
	width: 100%;
	padding: 55px 0; 
}
.I-about .component-title{
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #101945;
	margin: 0 0 50px 0;
}
.I-about .about-content{
	display: flex; 
	align-items: center;
}
.I-about .about-content .content-image-wrapper{
	padding: 20px 0;
	width: 50%;
	position: relative;
}
.I-about .about-content .content-image-wrapper .bg-circle-01{
	position: absolute;
	top: -20px;
	left: 20px;
	background: linear-gradient(90deg, #3b4b9b 0%, #cb176d 100%);;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	animation: scale2 5s alternate infinite;
}
.I-about .about-content .content-image-wrapper .bg-circle-02{
	position: absolute;
	bottom: -20px;
	right: 20px;
	background: linear-gradient(90deg, #3b4b9b 0%, #cb176d 100%);;
	width: 125px;
	height: 125px;
	border-radius: 125px;
	animation: scale2 5s alternate infinite;
}
.I-about .about-content .content-image-wrapper .image-wrapper{
	position: relative;
	width: 80%;
	margin: auto;
	z-index: 2;
}

.I-about .about-content .content-descriotion-wrapper{
	width: 50%;
	padding: 0 32px;
	border-left: 4px solid #3b4b9b;
	display: flex;
	align-items: center;
}
.I-about .about-content .content-descriotion-wrapper p{
	margin: 12px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px; 
	text-align: justify; 
	color: #101945;
}
.I-about .about-footer{
	width: 150px;
	position: absolute;
	bottom: -75px;
	right: 0;
}



@media only screen and (max-width: 1600px){

}
@media only screen and (max-width: 1480px){ 
	.I-about .about-content .content-descriotion-wrapper p{
		font-size: 14px;
		line-height: 24px;
	}
}
@media only screen and (max-width: 1280px){ 
	.I-about .about-content .content-descriotion-wrapper p{
		font-size: 13px;
		line-height: 23px;
	}
}
@media only screen and (max-width: 1024px){
	.I-about .about-content{
		display: block;
	}
	.I-about .about-content .content-image-wrapper{
		width: 100%;
	}
	.I-about .about-content .content-image-wrapper .image-wrapper{
		max-width: 550px;
	}
	.I-about .about-content .content-descriotion-wrapper{
		width: 100%;
		padding: 16px 0;
		max-width: 550px;
		margin: 30px auto;
		border: none;
		border-top: 4px solid #FF0742;
	}
}
@media only screen and (max-width: 991px){
    
}
@media only screen and (max-width: 767px){

}
@media only screen and (max-width: 575px){
	.I-about .about-content .content-descriotion-wrapper{
		max-width: 375px;
	}
} 
