.I-event{
	position: relative;
	width: 100%;
	padding: 55px 0; 
}
.I-event .event-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
.I-event .wrapper{
	position: relative;
	z-index: 2;
}
.I-event .component-title{
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #101945;
	margin: 0 0 50px 0;
}


.I-event .event-item{
	width: 100%; 
	border-radius: 8px; 
	box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.08)
}
.I-event .event-item .item-banner{
	width: 100%;
	padding: 0 0 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 
.I-event .event-item .item-description{
	padding: 32px;
	background-color: #fff;
}
.I-event .event-item .item-description .item-name{
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	text-transform: uppercase;
	color: #101945;
} 
.I-event .event-item  .item-description .item-detail{
	font-weight: 400;
	font-size: 16px;
	line-height: 24px; 
	text-transform: capitalize; 
	color: #595959;
    line-height: 25px;
    -webkit-line-clamp: 3;
    height: 75px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#carousel-event .owl-nav{
	display: none;
}
#carousel-event .owl-dots{
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#carousel-event .owl-dot{
	background: #D9D9D9;
	width: 12px;
	height: 12px;
	display: inline-block;
	font-size: unset;
	line-height: unset;
	padding: unset;
	border-radius: 50px;
	transition: all .3s ease-in;  
	cursor: pointer;
	margin: 0 5px;
}
#carousel-event .owl-dot.active{
	background: linear-gradient(90deg, #3b4b9b 0%, #cb176d 100%);
	width: 40px; 
}
#carousel-event .owl-dot:hover{
	width: 40px;
	opacity: 1;
}

#carousel-event .owl-stage-outer{
	padding: 30px 0;
}



@media only screen and (max-width: 1600px){

}
@media only screen and (max-width: 1480px){ 
	.I-event .event-item .item-description{
		padding: 20px;
	}
	.I-event .event-item .item-description .item-name{
		font-size: 18px;
		line-height: 24px;
		margin: 0 0 10px 0;
	}
}
@media only screen and (max-width: 1280px){ 
	.I-event .event-item .item-description .item-detail{
		font-size: 14px;
	}
}
@media only screen and (max-width: 1024px){

}
@media only screen and (max-width: 991px){
    
}
@media only screen and (max-width: 767px){

}
@media only screen and (max-width: 575px){

} 
