.I-news{
	padding: 60px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.I-news .news-block-title{
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #101945;
	margin: 0 0 50px 0;
}
.I-news .news-block-title span{
	background: linear-gradient(90deg, #1C468E 0%, #2F80ED 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.I-news .news-item-list{
	margin: 0 -20px;
	overflow: hidden;
}
.I-news .news-item-list .news-item{
	width: 33.3333%;
	float: left;
	padding: 0 20px;
	margin: 0 0 20px 0;
}
.I-news .news-item-list .news-item .news-block{
	padding: 16px;
	background: #FFFFFF;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
}
.I-news .news-item-list .news-item .news-block .news-image{
	width: 100%;
	padding: 0 0 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 16px 0;
}
.I-news .news-item-list .news-item .news-block .news-date{
	margin: 0 0 8px 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #8C8C8C;
}
.I-news .news-item-list .news-item .news-block .news-title{
	font-weight: 600;
	font-size: 20px; 
	color: #000000;

    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 28px;
    -webkit-line-clamp: 2;
    height: 56px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0 0 8px 0;
}
.I-news .news-item-list .news-item .news-block .news-description{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #595959;

    overflow: hidden;
    text-overflow: ellipsis; 
    -webkit-line-clamp: 3;
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0 0 16px 0;
}
.I-news .news-item-list .news-item .news-block .news-link{
	width: 150px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(90deg, #3b4b9b 0%, #cb176d 100%);
	border-radius: 50px;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
}


@media only screen and (max-width: 1600px){

}
@media only screen and (max-width: 1480px){ 

}
@media only screen and (max-width: 1280px){ 

}
@media only screen and (max-width: 1024px){
	.I-news .news-item-list{
		width: 100%;
		max-width: 600px;
		margin: auto;
	}
	.I-news .news-item-list .news-item{
		width: 100%;
	}
}
@media only screen and (max-width: 991px){
    
}
@media only screen and (max-width: 767px){

}
@media only screen and (max-width: 575px){

} 



