footer{
	background-color: #3b4b9b;
	padding: 80px 0 0 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

footer .footer-top{
	margin: 0 0 60px 0;
}
footer .logo-footer{
	display: block;
	margin: 0 0 20px 0;
	width: 170px;
}
footer .title-footer{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}
footer .footer-item{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin: 0 0 20px 0;
}
footer .footer-item a{
	color: #FFFFFF;
}
footer .social-list{
	display: flex;
	align-items: center;
}
footer .social-list .social-item{
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 24px;
	margin: 0 10px 0 0;
}



footer .footer-bottom{
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 65px;

	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}



@media only screen and (max-width: 1600px){

}
@media only screen and (max-width: 1480px){ 

}
@media only screen and (max-width: 1280px){ 

}
@media only screen and (max-width: 1024px){
	footer .logo-footer{ 
		margin: 20px auto;
	}
	footer .title-footer{
		margin: 20px 0;
		text-align: center;
	}
	footer .footer-item{
		text-align: center;
	}
	footer .social-list{
		justify-content: center;
	}
}
@media only screen and (max-width: 991px){
    
}
@media only screen and (max-width: 767px){
	footer .logo-footer{
		padding: 0 0 0 50px;
	}
}
@media only screen and (max-width: 575px){

} 
